Repository rstcheck/rstcheck-sphinx: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-spelling-dicts, find-todos, mypy, pylint

Path conditions:
  sort-spelling-dicts: any of: spelling_dict.txt
  find-todos: any file but: TODO
  mypy: any of: \.py$
  pylint: any of: \.py$

add authors and changelog files
  AUTHORS.rst
  CHANGELOG.md
Due: find-todos

add release script
  prep_release.py
Due: find-todos, mypy, pylint

add basic docs files
  README.rst
  docs/source/_badges.rst
  docs/source/authors.rst
  docs/source/changelog.rst
  docs/source/conf.py
  docs/source/index.rst
  docs/source/installation.rst
  docs/source/license.rst
  docs/source/spelling_dict.txt
  docs/source/workflows/development.rst
  docs/source/workflows/index.rst
  docs/source/workflows/releases.rst
  pyproject.toml
Due: sort-spelling-dicts, find-todos, mypy, pylint

add github workflows
  .github/dependabot.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/documentation.yaml
  .github/workflows/qa.yaml
  .github/workflows/test.yaml
  .github/workflows/update-authors.yaml
Due: find-todos

add empty pkg
  src/rstcheck_sphinx/__init__.py
  src/rstcheck_sphinx/py.typed
Due: find-todos, mypy, pylint

Update AUTHORS.rst file with new author(s)
  AUTHORS.rst
Due: find-todos

update authors workflow
  .github/workflows/update-authors.yaml
Due: find-todos

update readme
  README.rst
Due: find-todos

add empty tests dir
  tests/__init__.py
Due: find-todos, mypy, pylint

update version to 1.0.1
  pyproject.toml
Due: find-todos

remove unused import
  docs/source/conf.py
Due: find-todos, mypy, pylint

remove mypy pydantic conf
  pyproject.toml
Due: find-todos

add dummy test file to avoid pytest exit code 5
  tests/test_dummy.py
Due: find-todos, mypy, pylint

Update dependabot.yml
  .github/dependabot.yml
Due: find-todos
